@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
    font-family: "Android";
    src: url(../fontes/idroid.otf) format("opentype");
    font-weight: normal;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-padrao);
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #165c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", "cursive";
    --fonte-android: "Android", "cursive";
}

html {
    height: 100%;
}

body {
    background-color: var(--cor0);
    height: 100%;

    .externo::after{
        content: '\1F517';
    }
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    height: 25%;
    text-align: center;
    padding-top: 1%;

    h1 {
        color: white;
        font-family: var(--fonte-destaque);
        margin-top: 30px;
        font-size: 3em;
        font-weight: normal;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
    }

    p {
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 1.2em;
        width: 90%;
        margin: auto;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
    }
}

nav {
    background-color: var(--cor5);
    padding: 1.7%;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.219);

    a {
        transition: 0.5s;
        color: white;
        text-decoration: none;
        padding: 1.7%;
        font-weight: bolder;
        border-radius: 5px;
    }

    a:hover {
        background-color: var(--cor3);
        color: var(--cor5);
        padding: 5px;
    }

    
}

main {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 5%;
    box-shadow: 0% 0% 5% rgba(0, 0, 0, 0.459);
    border-radius: 0px 0px 30px 30px;

    div{
        background-color: var(--cor5);
        margin-bottom: 5%;
        margin-left: -6.3%;
        margin-right: -6.3%;
        position: relative;
        padding-bottom: 80%;

        iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }
    }

    h1 {
        color: var(--cor5);
        font-family: var(--fonte-android);
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 1.8em;
    }

    h2 {
        font-family: var(--fonte-android);
        color: var(--cor4);
        font-size: 1.3em;
        background-image: linear-gradient(to right, var(--cor1), transparent);
        text-indent: 8px;
        font-weight: normal;
    }

    p {
        margin: 15px 0px 15px 0px;
        text-align: justify;
        text-indent: 30px;
        line-height: 2em;
    }

    strong {
        color: var(--cor4);
        font-weight: bold;
        background-color: #83e1ad;
        padding: 2px 6px;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);
        background-color: var(--cor1);
        padding: 2px 6px;
    }

    a:hover{
        text-decoration: underline;
        color: var(--cor4);
    }

    img {
        width: 100%;
    }
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 128, 0, 0.541);

    ul{
        list-style-position: inside;
        columns: 2;
        list-style: none;
    }

    li::before{
        content: '✔️';
        margin-right: 10px;
    }

    h3{
        background-color: var(--cor4);
        color:white;
        padding: 5px;
        margin: -10px -10px 0 -10px;
        border-radius: 10px 10px 0 0;
        
    }
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

    a{
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }

    a:hover{
        color: var(--cor1);
        text-decoration: underline;
    }
}